@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #ebe8e2; */
  background: #f3f3fd;
}

.primary {
  color: #6357b2;
}
.secondary {
  color: #d5a4bc;
}
.danger {
  color: #c27a80;
}
